body {
    letter-spacing: 0px;
    padding: 0;
    overflow-x: hidden;
    z-index: 0;
    position: relative;
}
/*footer starts*/
.new_footer_area {
    background: #29294c;
}
.new_footer_top {
    padding: 100px 0 80px;
    position: relative;
}
.new_footer_top .f_widget.about-widget ul li:first-child, 
.new_footer_area .widget.footer-widget:nth-child(1), 
.new_footer_area .widget.footer-widget:nth-child(2), 
.new_footer_area .widget.footer-widget:nth-child(3), 
.new_footer_area .widget.footer-widget:nth-child(4) {
    padding-top: 0;
}
.new_footer_area .nav-link{padding: 0;}

.f_widget.about-widget ul li a {
    font: 400 16px/20px 'PT Sans', sans-serif;
    padding-left: 0;
    position: relative;
    transition: color .2s linear;
    display: inline-block;
    color: rgb(255 255 255 / 0.6);
}
.widget.widget_nav_menu ul li, 
.widget.widget_meta ul li, 
.widget.widget_pages ul li, 
.widget.widget_archive ul li, 
.widget.widget_categories ul li {
    font-weight: 400;
    color: #282835;
}
.widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.widget.widget_nav_menu ul, 
.widget.widget_meta ul, 
.widget.widget_pages ul, 
.widget.widget_archive ul, 
.widget.widget_categories ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.new_footer_top p {
    font-size: 15px;
    font-weight: 400!important;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}
.textwidget p {
    font-weight: 400;
    line-height: 1.9em;
}
.widget img {
    max-width: 100%;
    height: auto;
}
.footer-widget .widget_title {
    color: #fff;
    margin-bottom: 25px;
    margin-top: 0;
    letter-spacing: 0.8px;
    line-height: 0.8;
}
.f_size_18 {
    font-size: 18px;
}
.new_footer_top .f_widget.about-widget ul li a:hover,
.new_footer_area .footer_bottom p a:hover{
    color: #fff;
}
.row {
    width: 100%;
    margin: 0 auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}
.new_footer_area .footer_bottom p {
    font-size: 13px;
    color: rgb(255 255 255 / 60%);
    line-height: 28px;
    margin-bottom: 0;
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
}
.footer_bottom p a {
    color: rgb(255 255 255 / 60%);
    -webkit-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
}
.new_footer_area .footer_bottom {
    padding-top: 10px;
    padding-bottom: 10px;
}
.loc-address{
    border-left: 1px solid rgb(255 255 255 / 0.3);
    padding-left: 55px;
}
.footer_bottom, 
.footer_area_four .footer_top ul li a, 
.f_widget.about-widget .f_list li a {
    font-weight: 400;
}
a, .btn, button {
    text-decoration: none;
    outline: none;
}
.nav-link:focus, .nav-link:hover {
    text-decoration: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}
/*.social-icons, .social-icons .icons {
    display: inline-block;
}*/
.social-icons {
  align-items: center;
  color: #fff;
}
.social-icons .icons, .social-icons .icons path, .social-icons .icons .download-app-text{
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
}
.social-icons .icons a {
    padding: 2px 10px;
}
.social-icons .icons:first-child a{
    padding-left: 0
}
.app-icons.social-icons.justify-content-around{
    justify-content: flex-start!important;
}
.app-icons.social-icons .icons a{padding:0;}

.social-icons .icons:hover path{
  fill: #fff;
}
.social-icons .icons:hover .download-app-text{
  color: #fff;
}

/* footer ends*/
i:before {
    margin-left: 0 !important;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.text-right {
    text-align: right!important;
}
.navbar-brand>img {
    width: 220px;
}
.container.custom_container {
    max-width: 1370px;
}
.container.custom_container1 {
    max-width: 1250px;
}
.header_area.navbar_fixed .navbar .btn_get.btn-meta:hover {
    color: #fff;
}
.footer_bottom {
    background: #20213c;
}
.header_area .navbar .navbar-nav .menu-item a,
.menu>.nav-item.submenu .dropdown-menu .nav-item .nav-link {
    font-weight: 400;
    font-style: normal;
}
.menu>.nav-item.submenu.mega_menu.mega_menu_two .mega_menu_inner .dropdown-menu .nav-item .item .text {
    line-height: 15px;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}
.header_area .navbar .navbar-nav .menu-item a {
    color: #333;
}
.header_area.navbar_fixed .navbar .navbar-nav .menu-item a{
  color:#181818;
}
.header_area.navbar_fixed .navbar {
    padding: .5rem 1rem;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.elementor-section {
    position: relative;
}
.menu_toggle .hamburger span,
.menu_toggle .hamburger-cross span,
.navbar .search_cart .search a.nav-link:before {
    background: #212529;
}
.header_area .navbar .navbar-nav .menu-item a:hover,
.header_area .menu>.nav-item.active .nav-link{
    color: #ffffff!important;
}
/*
.menu>.nav-item>.nav-link:before {
    background: #F15162!important;
}*/
.menu>.nav-item.active .nav-link:before {
    width: 100%;
    left: 0;
    right: auto;
}
.header_area .navbar .navbar-nav .menu-item {
    margin-top: 0;
    margin-right: 55px;
    margin-bottom: 0;
    margin-left: 0;
}
.menu>.nav-item>.nav-link {
    font: 500 15px 'PT Sans', sans-serif;
    padding: 0;
    -webkit-transition: color .3s ease 0s;
    -o-transition: color .3s ease 0s;
    transition: color .3s ease 0s;
    position: relative;
}
/*
.menu-login {
    margin-right: 30px;
    color: #ffffff;
    font: 400 15px 'Poppins',sans-serif;
}*/
.header_area .navbar .btn_get{
  border:1px solid #ffffff;
  color:#ffffff;
}
/*
.header_area .navbar .btn_get:hover{
  color: #181818;
  border:1px solid #181818;
}
*/
.btn_get {
    font: 400 17px/47px 'PT Sans', sans-serif;
    color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 20px 24px 0px rgba(0,11,40,.1);
    box-shadow: 0px 20px 24px 0px rgba(0,11,40,.1);
    padding: 0 23px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    min-width: 120px;
    text-align: center;
    font-size: 17px;  
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
    background-color: #5b3b97;
}
.btn_get:hover{
  background-color: #5b3b97;
  color: #fff;
      -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}

/*
.btn_get:hover{
   color: #ffffff;
    border: 1px solid #ffffff;
    background:#F15162;
}

.btn_hover {
    overflow: hidden;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    z-index: 1;
    cursor: pointer;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}*/
/*a:hover {
    color: #F15162;
}*/
.menu > .nav-item > .nav-link {
    font: 400 17px 'PT Sans', sans-serif;
    padding: 0px;
    transition: color 0.3s ease 0s;
    position: relative;
    letter-spacing: 0.2px;
}
.header_area .navbar .navbar-nav .menu-item a, 
.menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link{
    font-weight: 400;
    font-style: normal;
}

.menu > .nav-item > .nav-link:hover:before
/*.menu-login:before */{
    content: "";
    width: 0;
    height: 1px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
/*.nav-link.active:before
{
    content: "";
    width: 100%;
    height: 1px;
    background: #ffffff;
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}*/
.navbar_fixed .nav-link.active:before{
  background: #181818;
}

.flagC, .flagC a{
  color: rgb(255 255 255 / 0.6);
}
.flagC span {
    font-weight: 700;
    font-size: 16px;
}
.menu-footer-4-links-container .flagC {
    color: rgb(255 255 255 / 0.6);
    margin-top: 20px;
     font-size: 15px;
}
.addressmap{
  padding-left: 32px;
}
.menu-footer-4-links-container .flagC:first-child{
  margin-top: 0;
}
.navbar_fixed .menu > .nav-item > .nav-link:before{
    background: #181818!important;
}
.menu > .nav-item:hover .nav-link:before {
    width: 100%;
    left: 0;
    right: auto;
}
/*sticky*/

@supports (-webkit-overflow-scrolling:touch) {
  .wp-block-cover-image.has-parallax,  .wp-block-cover.has-parallax {
    background-attachment: scroll;
  }
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
  .wp-block-cover-image:after,  .wp-block-cover:after {
    content: none;
  }
}

.wp-block-embed {
  margin-bottom: 1em;
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
  .blocks-gallery-grid .blocks-gallery-image figure,  .blocks-gallery-grid .blocks-gallery-item figure,  .wp-block-gallery .blocks-gallery-image figure,  .wp-block-gallery .blocks-gallery-item figure {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
  .blocks-gallery-grid .blocks-gallery-image img,  .blocks-gallery-grid .blocks-gallery-item img,  .wp-block-gallery .blocks-gallery-image img,  .wp-block-gallery .blocks-gallery-item img {
    width: auto;
  }
}

@supports ((position:-webkit-sticky) or (position:sticky)) {
  .blocks-gallery-grid.is-cropped .blocks-gallery-image a,  .blocks-gallery-grid.is-cropped .blocks-gallery-image img,  .blocks-gallery-grid.is-cropped .blocks-gallery-item a,  .blocks-gallery-grid.is-cropped .blocks-gallery-item img,  .wp-block-gallery.is-cropped .blocks-gallery-image a,  .wp-block-gallery.is-cropped .blocks-gallery-image img,  .wp-block-gallery.is-cropped .blocks-gallery-item a,  .wp-block-gallery.is-cropped .blocks-gallery-item img {
    height: 100%;
    flex: 1;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.navbar_fixed.header_area .navbar .btn_get{
    background: #F15162;
    color: #ffffff;
    border-color: #F15162;
}

.header_area.navbar_fixed {
    z-index: 999;
}
.header_area.navbar_fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
    box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
}
.header_area {
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    width: 100%;
    left: 0;
    z-index: 20;
    top: 0;
    position:absolute;
}
.menu > .nav-item {
    position: relative;
    padding-bottom: 20px;
    padding-top: 25px;
}
/*========= hamburger menu css ========*/
.navbar-toggler {
  padding: 0px;
  margin-left: 20px;
}

.navbar-toggler:focus {
  outline: none;
}

.menu_toggle {
  width: 22px;
  height: 22px;
  position: relative;
  cursor: pointer;
  display: block;
}

.menu_toggle .hamburger {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
}

.menu_toggle .hamburger span {
  width: 0%;
  height: 2px;
  position: relative;
  top: 0;
  left: 0;
  margin: 4px 0;
  display: block;
  background: #fff;
  border-radius: 3px;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.menu_toggle .hamburger span:nth-child(1) {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.menu_toggle .hamburger span:nth-child(2) {
  -webkit-transition-delay: .125s;
  -o-transition-delay: .125s;
  transition-delay: .125s;
}

.menu_toggle .hamburger span:nth-child(3) {
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}

.menu_toggle .hamburger-cross {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
}

.menu_toggle .hamburger-cross span {
  display: block;
  background: #fff;
  border-radius: 3px;
  -webkit-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.menu_toggle .hamburger-cross span:nth-child(1) {
  height: 100%;
  width: 2px;
  position: absolute;
  top: 0;
  left: 10px;
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

.menu_toggle .hamburger-cross span:nth-child(2) {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 10px;
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

.collapsed .menu_toggle .hamburger span {
  width: 100%;
}

.collapsed .menu_toggle .hamburger span:nth-child(1) {
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

.collapsed .menu_toggle .hamburger span:nth-child(2) {
  -webkit-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

.collapsed .menu_toggle .hamburger span:nth-child(3) {
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
}

.collapsed .menu_toggle .hamburger-cross span:nth-child(1) {
  height: 0%;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.collapsed .menu_toggle .hamburger-cross span:nth-child(2) {
  width: 0%;
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}
header.navbar_fixed .menu_toggle .hamburger span, 
.menu_toggle .hamburger-cross span, 
header.header_area.navbar_fixed .menu_toggle .hamburger-cross span, 
header.header_area.navbar_fixed .menu_toggle .hamburger span, 
header.navbar_fixed .navbar .search_cart .search a.nav-link:before,
.menu_toggle .hamburger span, 
.menu_toggle .hamburger-cross span{
    background: #181818;
}
.stick_logo{
  display:none;
}
.d_logo{
  display:block;
}
.navbar_fixed .stick_logo{
  display:block;
}
.navbar_fixed .d_logo{
  display:none;
}
/***** Dropdown Menu starts *****/
.menu > .nav-item.submenu .dropdown-menu{
    margin: 0;
    border: 0;
    border-radius: 0;
    left: -40px;
    min-width: 200px;
    padding: 0px;
    background: #fff;
    box-shadow: -1px 2px 19px 3px rgba(14, 0, 40, 0.05);
    -webkit-box-shadow: -1px 2px 19px 3px rgba(14, 0, 40, 0.05);
    -moz-box-shadow:-1px 2px 19px 3px rgba(14, 0, 40, 0.05);
}
.menu > .nav-item.submenu .dropdown-menu.mega_menu_three .nav-item {
    padding: 0;
}
/*.menu > .nav-item.submenu .dropdown-menu .nav-item:first-child {
    padding-top: 16px;
}*/
.menu > .nav-item.submenu .dropdown-menu .nav-item:last-child {
    padding-bottom: 0;
    margin-bottom: -8px;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item {
    display: block;
    width: 100%;
    margin-right: 0px;
    padding: 0px 40px;
    background: #fff;
    position: relative;
}
.menu > .nav-item.submenu .dropdown-menu.mega_menu_three > .nav-item > .dropdown-menu {
    left: 0;
    position: relative;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.menu > .nav-item.submenu .dropdown-menu .nav-item > .dropdown-menu {
    -webkit-transition: transform 0.3s ease-in;
    -o-transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    padding: 0px;
}
.menu > .nav-item.submenu .dropdown-menu.mega_menu_three > .nav-item > .dropdown-menu .nav-item {
    padding: 16px 30px;
    border: 1px solid transparent;
    -webkit-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}
.header_area .navbar .navbar-nav .menu-item a, .menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link {
    font-weight: 400;
    font-style: normal;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link {
    line-height: 36px;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link {
    margin: 0;
    padding: 0px;
    white-space: nowrap;
    font: 400 15px/34px "Poppins", sans-serif;
    color: #051441;
    -webkit-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}
.menu > .nav-item.submenu .dropdown-menu.mega_menu_three > .nav-item > .dropdown-menu .nav-item:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    border-color: #f2f0f7;
    background-color: white;
    -webkit-box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1), 0px -1px 0px 0px rgba(243, 241, 248, 0.004);
    box-shadow: 0px 20px 30px 0px rgba(12, 0, 46, 0.1), 0px -1px 0px 0px rgba(243, 241, 248, 0.004);
}
.menu > .nav-item.submenu .dropdown-menu.mega_menu_three > .nav-item > .dropdown-menu .nav-item .nav-link .navdropdown_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.menu > .nav-item.submenu .dropdown-menu.mega_menu_three > .nav-item > .dropdown-menu .nav-item .nav-link .navdropdown_link .navdropdown_icon {
    margin-right: 20px;
}
.menu > .nav-item.submenu .dropdown-menu.mega_menu_three > .nav-item > .dropdown-menu .nav-item .nav-link .navdropdown_link .navdropdown_icon img {
    max-width: 30px;
    margin-top: 7px;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item:hover > .nav-link span, .menu > .nav-item.submenu .dropdown-menu .nav-item:hover > .nav-link, .menu > .nav-item.submenu .dropdown-menu .nav-item:focus > .nav-link, .menu > .nav-item.submenu .dropdown-menu .nav-item.active > .nav-{
    color: #5b3b97;
}
.menu>.nav-item.submenu .dropdown-menu.mega_menu_three>.nav-item>.dropdown-menu .nav-item .nav-link .navdropdown_link .navdropdown_content h5 {
    font: 500 15px 'PT Sans', sans-serif;
    color: #2c2d4f;
    margin-bottom: 0px;
    margin-top: 0;
    padding-top: 0;
}
.menu > .nav-item.submenu .dropdown-menu.mega_menu_three > .nav-item > .dropdown-menu .nav-item .nav-link .navdropdown_link .navdropdown_content p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #73738a;
}
.menu>.nav-item:nth-last-child(-n+2).submenu .dropdown-menu.mega_menu_three .nav-item>.dropdown-menu {
    left: 0!important;
    right: auto;
}
@media (max-width: 767px){
.loc-address {
    border-left: 0;
    padding-left: 30px;
}
.footerlogo{
    margin-bottom: 5px;
}
.f_widget.about-widget ul li a{
    font-size: 15px;
}
.new_footer_top .social-icons{padding: 0;}
.social-icons.justify-content-around{ justify-content: flex-start!important;}
.app-icons.social-icons.justify-content-around{ justify-content: flex-start!important;margin-top: 15px;}
.app-icons.social-icons .icons:first-child a{padding-left:15px;}
.app-downld-text{margin-bottom: 0; margin-right: 10px;}
}
@media (min-width: 992px){

.menu > .nav-item.submenu .dropdown-menu {
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 0;
    visibility: hidden;
    display: block;
}

.menu > .nav-item:hover .dropdown-menu {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
  position: absolute;
}
.menu > .nav-item:hover .dropdown-menu.mega_menu_three .nav-item .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item:first-child > .dropdown-menu {
    top: 0;
}
.menu > .nav-item.submenu .dropdown-menu .nav-item > .dropdown-menu {
    position: absolute;
    left: 100%;
    top: -35px;
    opacity: 0;
    display: block;
    visibility: hidden;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
}
@media (max-width: 1550px){
.menu > .nav-item:nth-last-child(-n+2).submenu .dropdown-menu {
    left: auto !important;
    right: -60px !important;
}
}
/***** Dropdown Menu ends *****/

